.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.summary {
  position: relative;
  display: block;
  text-align: center;
  left: 17%;
  width: 66%;
}

.pie-chart-legend > ul {
  position:relative;
  list-style: none;
  text-align: left;
  left: 42%;

}

.chart-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px
}

.filters div {
  margin: 3px;
}

.landing {
  background: url(http://athleticadvantagellc.com/wp-content/uploads/2015/12/Back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card {
  padding-top: 20px;
  background-color: transparent;
  border: none;
  height: 240;
  width: 300;
  margin: 30px auto;
  text-align: center;
}

.card .header {
  padding-top: 20px;
}

.card input {
  margin-bottom: 7px;
}

.landing h1 {
  font-family: 'Josefin Sans', cursive;
  font-weight: bold;
  color: rgb(196, 255, 41);
  font-weight: lighter;
  text-align: center;
  margin-top: 150px;
  font-size: 120px;
}

.secondaryText {
  color: rgba(0,0,0,0.53);
  font-size: 0.85em;
}

.card-help {
  margin-top: 10px;
}

.secondaryText {
  color: rgba(0,0,0,0.53);
  font-size: 0.85em;
}

.search-bar {
  text-align: center;
}

.ate-header, .search-bar h5 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-weight: lighter;
  margin-top: 30px;
  font-size: 30px;
}

